


<style>

    .info-bar {
        padding: 18px 0; 
    }

    a {
        text-decoration: none;
        color: black;
    }

    .real-date {
        font-size: 1.1rem;
    }

</style>

<!-- Information bar -->
<div class="info-bar">
    <div class="est">Est. 0000</div>
    <a href="#"> <div>To the top</div> </a>
    <div class="real-date">@2023 Raven Inc.</div>
</div>